/* MEYER-WEB RESET SHEET ////////////////////////////////////////////////// */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
dialog {
  margin: 0;
  padding: 0;
  left: initial;
}

/* INTERFACE RESET //////////////////////// */
a {
  text-decoration: none;
  color: inherit;
}

a:focus, button:focus, input:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

input {
  font-family: inherit;
}

/* GENERAL ////////////////////////////////////////////////////////////////// */
* {
  box-sizing: border-box;
}

body {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  scroll-behavior: smooth; 
  overscroll-behavior: contain;
}

body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p a {
  text-decoration: underline;
  padding: 0 0.3rem;
}

button, label, input {
  cursor: pointer;
}

/* This is to make these elements at least
the minimum recommended size on mobile. 
Recommended interface size is 40px - 70px, 
with 50-60 being ideal. */
a, button, input {
  min-width: 40px;
  min-height: 40px;
}

/* PREVENT OVERSIZED IMAGES */
img {
  max-width: 100%;
  object-fit: contain;
}

svg {
  width: 1rem;
}

/* CSS TOOLS ///////////////////////////////////////////////////////////////// */
.hidden-submit {
  visibility: hidden;
  position: absolute;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-gap {
  gap: 0.3rem;
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

/* COVERING MODAL //////////////// */
.covering-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}

.covering-modal .background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: hsla(0, 0%, 0%, 0.7);
}

.covering-modal .container {
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.covering-modal section {
  pointer-events: initial;
  position: relative;
}

.covering-modal .modal-closer-button {
  padding: 0.1rem 0.3rem;
  line-height: 0;
  border: 1px solid black;
  position: absolute;
  right: 0;
  top: 0;
}
.covering-modal .modal-closer-button svg {
  width: 1rem;
}

@media only screen and (orientation: landscape) {
  .portrait {
    display: none;
  }
}

@media only screen and (orientation: portrait) {
  .landscape {
    display: none;
  }
}

/* FONT-SIZE AND FAMILY /////////////////////////////////////////////////////// */
html {
  font-size: 5vw;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 0.67vw);
  }
}

/* COLORS //////////////////////////////////////////////////////////////////// */
:root {
  --color1: black;
  --color1-1: hsl(0, 0%, 15%);
  --color2: white;
  --color2-1: hsla(0, 0%, 100%, 0.6);
  --color2-2: hsla(0, 0%, 80%, 1);
  --color3: magenta;
  color: var(--color2);
  background-color: var(--color1);
}

svg path {
  fill: currentColor;
}

dialog {
  color: var(--color2);
}